/* Fonte*/ 

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body {

    font-family: Yanone Kaffeesatz;
    font-size: 18px;

}

/* Menu e SubMenu*/

header {

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav {

    background-color: blue;
    height: 30px;

}

nav ul {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8px;

}

nav ul a {

    color: white;
    text-decoration: none;
    list-style-type: none;
}





/* Rodapé */


footer h4 {

    color: red;
    text-align: center;

}

#rodape {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(62, 62, 66);

}

footer ul {

    color: white;
    text-decoration: none;
    list-style-type: none;

}

footer ul a {


    color: white;
    text-decoration: none;

}