/* Fonte*/ 

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

body {

    font-family: Yanone Kaffeesatz;
    font-weight: 450;

}

/* Menu e SubMenu*/

header {

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav {

    background-color: blue;
    height: 30px;

}

nav ul {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8px;

}

nav ul a {

    color: white;
    text-decoration: none;
    list-style-type: none;
}

/* Sessão Destaques */

h1 {

    text-align: center;

}

#Produtos {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#Produtos .item {

    margin: 70px;
}

.btn-comprar {

    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: none;

}

.btn-comprar:hover {

    cursor: pointer;
    transform: scale(1.1);

}

/* Botão Veja + */

.btn-vm {


    margin-left: 44.5%;
    width: 170px;
    height: 50px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: hsl(123, 85%, 46%);
    font-size: 27px;

}

.btn-vm:hover {

    cursor: pointer;
    transform: scale(1.1);

}

/* Formas de Pagamentos */

h2 {

    text-align: center;

}

#fPag {

    display: flex;
    align-items: center;
    justify-content: center;

}

/* Rodapé */


footer h4 {

    color: red;
    text-align: center;

}

#rodape {

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(62, 62, 66);

}

footer ul {

    color: white;
    text-decoration: none;
    list-style-type: none;

}

footer ul a {


    color: white;
    text-decoration: none;

}